<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bank.common.model.Privilege">

	<resultMap type="Privilege" id="privilegeMap">
		<id column="id" property="id" />
		<result column="display_name" property="displayName" />
		<result column="privilege_name" property="privilegeName" />
		<result column="privilege_code" property="privilegeCode" />
		<result column="url" property="url" />
		<result column="parent_id" property="parentId" />
		<result column="is_deleted" property="isDeleted" />
		<result column="created_time" property="createdTime" />
		<result column="updated_time" property="updatedTime" />
	</resultMap>
	
	<!-- <resultMap type="Privilege" id="privilegeMap">
        <result column="privilege_Id" property="privilegeId" />
        <result column="parent_PrivilegeId" property="parentPrivilegeId" />
        <result column="privilege_DisplayName" property="privilegeDisplayName" />
        <result column="id" property="id" />
    </resultMap> -->

	<sql id="pagination">
		<if test="offset != null and rowCount != null and offset != '' and rowCount!= ''">
            <![CDATA[
                LIMIT #{offset},#{rowCount}
            ]]>
		</if>
	</sql>

	<sql id="selectPrivilege">
		SELECT
		P.ID AS ID,
		P.DISPLAY_NAME AS DISPLAY_NAME,
		P.PRIVILEGE_NAME AS PRIVILEGE_NAME,
		P.PRIVILEGE_CODE AS PRIVILEGE_CODE,
		P.URL AS URL,
		P.PARENT_ID AS PARENT_ID,
		P.IS_DELETED AS IS_DELETED,
		P.CREATED_TIME AS CREATED_TIME,
		P.UPDATED_TIME AS UPDATED_TIME
	</sql>

	<select id="findAllPrivilegeByParams" parameterType="java.util.HashMap" resultMap="privilegeMap">
		<include refid="selectPrivilege"></include>
		FROM PRIVILEGE P WHERE P.IS_DELETED = 0
		<if test="displayName != null and displayName != '' ">
		    AND P.DISPLAY_NAME LIKE '%' #{displayName} '%'
		</if>
		<if test="beginTime != null and beginTime != ''">
		    AND P.CREATED_TIME > #{beginTime}
		</if>
		<if test="endTime != null and endTime != ''">
		    AND #{endTime} > P.CREATED_TIME
		</if>
		 ORDER BY P.ID
		<include refid="pagination"></include>
	</select>
	
	<select id="findAllPrivilege" resultMap="privilegeMap">
		<include refid="selectPrivilege"></include>
		FROM PRIVILEGE P WHERE P.IS_DELETED = 0 ORDER BY P.ID
	</select>

	<select id="getCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		SELECT COUNT(ID) FROM PRIVILEGE P
		WHERE P.IS_DELETED = 0
		<if test="parentId != null">
            AND P.PARENT_ID = #{parentId}
        </if>
		<if test="displayName != null and displayName != '' ">
		    AND P.DISPLAY_NAME LIKE '%${displayName}%'
		</if>
		<if test="beginTime != null and beginTime != ''">
		    AND P.CREATED_TIME > #{beginTime}
		</if>
		<if test="endTime != null and endTime != ''">
		    AND #{endTime} > P.CREATED_TIME
		</if>
	</select>

	<select id="getById" parameterType="java.lang.Integer" resultMap="privilegeMap">
		<include refid="selectPrivilege"></include>
		FROM PRIVILEGE P WHERE P.IS_DELETED = 0 AND P.ID = #{id}
	</select>
	
	<select id="getRootPrivilege" resultMap="privilegeMap">
        <include refid="selectPrivilege"></include>
        FROM PRIVILEGE P WHERE P.IS_DELETED = 0 AND P.PARENT_ID = 0
    </select>
	
	<select id="findPrivilegesByTree" resultMap="privilegeMap">
        <include refid="selectPrivilege" />
        <![CDATA[
            FROM PRIVILEGE P WHERE FIND_IN_SET(id, getChild(0))
        ]]>
    </select>
    
    <select id="findPrivilegesByParentId" parameterType="java.util.HashMap" resultMap="privilegeMap">
        <include refid="selectPrivilege" />
        <![CDATA[
            FROM PRIVILEGE P WHERE P.IS_DELETED = 0 AND P.PARENT_ID= #{parentId}
        ]]>
        <if test="displayName != null and displayName != '' ">
            AND P.DISPLAY_NAME LIKE '%${displayName}%'
        </if>
            ORDER BY P.ID
        <include refid="pagination"></include>
    </select>
    
	<insert id="add" parameterType="Privilege">
		INSERT INTO PRIVILEGE
		(DISPLAY_NAME,PRIVILEGE_NAME,PRIVILEGE_CODE,URL,PARENT_ID)
		VALUES(#{displayName},#{privilegeName},#{privilegeCode},#{url},#{parentId})
	</insert>
	<update id="update" parameterType="Privilege">
        <![CDATA[
            UPDATE PRIVILEGE P 
            SET 
                P.DISPLAY_NAME = #{displayName},
                P.PRIVILEGE_NAME = #{privilegeName},
                P.PRIVILEGE_CODE = #{privilegeCode},
                P.URL = #{url},
                P.PARENT_ID = #{parentId},
                P.UPDATED_TIME = #{updatedTime}
            WHERE P.ID = #{id}
        ]]>
	</update>
	<update id="deletePrivilegeByIds" parameterType="java.util.List">
	     UPDATE PRIVILEGE P SET P.IS_DELETED = 1 WHERE P.ID IN
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
		  #{item}  
		</foreach>  
	</update>
</mapper>
