<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bank.common.model.Privilege">

	<resultMap type="Privilege" id="privilegeMap">
		<id column="id" property="id" />
		<result column="display_name" property="displayName" />
		<result column="privilege_name" property="privilegeName" />
		<result column="privilege_code" property="privilegeCode" />
		<result column="url" property="url" />
		<result column="parent_id" property="parentId" />
		<result column="is_deleted" property="isDeleted" />
		<result column="created_time" property="createdTime" />
		<result column="updated_time" property="updatedTime" />
	</resultMap>

	<sql id="pagination">
		<if test="offset != null and rowCount != null and offset != '' and rowCount!= ''">
            <![CDATA[
                LIMIT #{offset},#{rowCount}
            ]]>
		</if>
	</sql>

	<sql id="selectPrivilege">
		SELECT
		P.ID AS ID,
		P.DISPLAY_NAME AS DISPLAY_NAME,
		P.PRIVILEGE_NAME AS PRIVILEGE_NAME,
		P.PRIVILEGE_CODE AS PRIVILEGE_CODE,
		P.URL AS URL,
		P.PARENT_ID AS PARENT_ID,
		P.IS_DELETED AS IS_DELETED,
		P.CREATED_TIME AS CREATED_TIME,
		P.UPDATED_TIME AS UPDATED_TIME
	</sql>

	<select id="findAllPrivilege" parameterType="java.util.HashMap" resultMap="privilegeMap">
		<include refid="selectPrivilege"></include>
		FROM PRIVILEGE P WHERE P.IS_DELETED = 0
		<if test="displayName != null and displayName != '' ">
		    AND P.DISPLAY_NAME LIKE '%' #{displayName} '%'
		</if>
		<if test="beginTime != null and beginTime != ''">
		    AND P.CREATED_TIME > #{beginTime}
		</if>
		<if test="endTime != null and endTime != ''">
		    AND #{endTime} > P.CREATED_TIME
		</if>
		 ORDER BY P.ID
		<include refid="pagination"></include>
	</select>

	<select id="getCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		SELECT COUNT(ID) FROM PRIVILEGE P
		WHERE P.IS_DELETED = 0
		<if test="displayName != null and displayName != '' ">
		    AND P.DISPLAY_NAME LIKE '%' #{displayName} '%'
		</if>
		<if test="beginTime != null and beginTime != ''">
		    AND P.CREATED_TIME > #{beginTime}
		</if>
		<if test="endTime != null and endTime != ''">
		    AND #{endTime} > P.CREATED_TIME
		</if>
	</select>

	<!-- <select id="getById" parameterType="java.lang.Integer" resultMap="roleMap">
		<include refid="selectPrivilege"></include>
		FROM ROLE R WHERE R.IS_DELETED = 0 and r.id = #{roleId}
	</select>

	<insert id="add" parameterType="Role">
		INSERT INTO
		ROLE(ROLE_CODE,DISPLAY_NAME,ROLE_NAME,IS_DELETED,CREATED_TIME,UPDATED_TIME)
		VALUES(#{roleCode},#{displayName},#{roleName},'0',#{createdTime},#{updatedTime})
	</insert>
	<update id="update" parameterType="Role">
        <![CDATA[
            UPDATE ROLE R 
            SET 
                R.ROLE_CODE = #{roleCode},
                R.ROLE_NAME = #{roleName},
                R.DISPLAY_NAME = #{displayName},
                R.UPDATED_TIME = #{updatedTime}
            WHERE R.ID = #{id}
        ]]>
	</update>
	<update id="deleteRoleByIds" parameterType="java.util.List">
	     UPDATE ROLE R SET R.IS_DELETED = 1 WHERE R.ID IN
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
		  #{item}  
		</foreach>  
	</update> -->
</mapper>
