<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bank.common.model.Role">

	<resultMap type="Role" id="roleMap">
		<id column="id" property="id" />
		<result column="role_code" property="roleCode" />
		<result column="display_name" property="displayName" />
		<result column="role_name" property="roleName" />
		<result column="is_Deleted" property="isDeleted" />
		<result column="created_time" property="createdTime" />
		<result column="updated_time" property="updatedTime" />
	</resultMap>
	
	<sql id="pagination">
		<if test="offset != null and rowCount != null">
            <![CDATA[
                LIMIT #{offset},#{rowCount}
            ]]>
		</if>
	</sql>

	<sql id="selectRole">
		SELECT
		R.ID AS ID,
		R.ROLE_CODE AS ROLE_CODE,
		R.DISPLAY_NAME AS DISPLAY_NAME,
		R.ROLE_NAME AS ROLE_NAME,
		R.IS_DELETED AS IS_DELETED,
		R.CREATED_TIME AS CREATED_TIME,
		R.UPDATED_TIME AS UPDATED_TIME
	</sql>

	<select id="findAllRoleByParams" parameterType="java.util.HashMap" resultMap="roleMap">
		<include refid="selectRole"></include>
		FROM ROLE R WHERE R.IS_DELETED = 0
		<if test="roleName != null and roleName != '' ">
		    AND R.ROLE_NAME LIKE '%${roleName}%'
		</if>
		<if test="beginTime != null and beginTime != ''">
		    AND R.CREATED_TIME > #{beginTime}
		</if>
		<if test="endTime != null and endTime != ''">
		    AND #{endTime} > R.CREATED_TIME
		</if>
		 ORDER BY R.ID
		<include refid="pagination"></include>
	</select>
	
	<select id="findAllRole" resultMap="roleMap">
		<include refid="selectRole"></include>
		FROM ROLE R WHERE R.IS_DELETED = 0 ORDER BY R.ID
	</select>

	<select id="getCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		SELECT COUNT(ID) FROM ROLE R
		WHERE R.IS_DELETED = 0
		<if test="roleName != null and roleName != '' ">
		    AND R.ROLE_NAME LIKE '%${roleName}%'
		</if>
		<if test="beginTime != null and beginTime != ''">
		    AND R.CREATED_TIME > #{beginTime}
		</if>
		<if test="endTime != null and endTime != ''">
		    AND #{endTime} > R.CREATED_TIME
		</if>
	</select>

	<select id="getById" parameterType="java.lang.Integer" resultMap="roleMap">
		<include refid="selectRole"></include>
		FROM ROLE R WHERE R.IS_DELETED = 0 and r.id = #{roleId}
	</select>

	<insert id="add" parameterType="Role">
		INSERT INTO
		ROLE(ROLE_CODE,DISPLAY_NAME,ROLE_NAME)
		VALUES(#{roleCode},#{displayName},#{roleName})
	</insert>
	<update id="update" parameterType="Role">
         update ROLE
        <set>
          <if test="roleCode != null">
            ROLE_CODE = #{roleCode},
          </if>
          <if test="roleName != null">
            ROLE_NAME = #{roleName},
          </if>
          <if test="displayName != null">
            DISPLAY_NAME = #{displayName},
          </if>
          <if test="updatedTime != null">
            UPDATED_TIME = #{updatedTime},
          </if>
        </set>
        where id = #{id}
	</update>
	<update id="deleteRoleByIds" parameterType="java.util.List">
	     UPDATE ROLE R SET R.IS_DELETED = 1 WHERE R.ID IN
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
		  #{item}  
		</foreach>  
	</update>
</mapper>
