<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bank.common.model.User">

    <resultMap type="User" id="userMap">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <sql id="pagination">
        <if test="offset != null and rowCount!= null and offset != '' and rowCount!= ''">
            <![CDATA[
                LIMIT #{offset},#{rowCount}
            ]]>
        </if>
    </sql>

    <sql id="selectUser">
        SELECT
            u.id AS id,
            u.user_name AS user_name,
            u.gender AS gender,
            u.email AS email,
            u.phone AS phone,
            u.password AS password,
            u.created_time AS created_time,
            u.updated_time AS updated_time,
            u.is_deleted AS is_deleted
    </sql>
    
    <select id="getById" parameterType="java.lang.Integer" resultMap="userMap">
        <include refid="selectUser" />
        <![CDATA[
            FROM user u
            WHERE u.id = #{id} and is_deleted = 0
        ]]>
    </select>
    
    <select id="getUserByNameAndPassword" parameterType="java.util.HashMap" resultMap="userMap">
        <include refid="selectUser" />
        <![CDATA[
            FROM user u
            WHERE u.user_name = #{userName} and u.password=#{password} and is_deleted = 0
        ]]>
    </select>
    
    <select id="findAll" resultMap="userMap">
        <include refid="selectUser" />
        <![CDATA[
            FROM USER U
            WHERE IS_DELETED = 0
            ORDER BY U.ID
        ]]>
        <include refid="pagination" />
    </select>
    
    <select id="getCount" resultType="java.lang.Integer">
        <![CDATA[
            SELECT COUNT(U.ID)
            FROM USER U
            WHERE IS_DELETED = 0
        ]]>
    </select>
    
    <select id="searchUsers" parameterType="java.util.HashMap" resultMap="userMap">
        <include refid="selectUser" />
        <![CDATA[
            FROM USER U
            WHERE U.IS_DELETED = 0
        ]]>
        <if test="userName != null and userName != ''">
            <![CDATA[
                AND U.USER_NAME LIKE '%'#{userName}'%'
            ]]>
        </if>
        <if test="beginTime != null and beginTime != ''">
            <![CDATA[
		      AND U.CREATED_TIME > #{beginTime}
		    ]]>
		</if>
		<if test="endTime != null and endTime != ''">
		    <![CDATA[
		      AND #{endTime} > U.CREATED_TIME
		    ]]>
		</if>
        <![CDATA[
            ORDER BY U.ID
        ]]>
        <include refid="pagination" />
    </select>
    
    <select id="getCountByKeywords" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        <![CDATA[
            SELECT COUNT(U.ID)
            FROM USER U
            WHERE U.IS_DELETED = 0
        ]]>
        <if test="userName != null and userName !=''">
            <![CDATA[
                AND U.USER_NAME LIKE '%'#{userName}'%'
            ]]>
        </if>
        <if test="beginTime != null and beginTime != ''">
            <![CDATA[
		      AND U.CREATED_TIME > #{beginTime}
		    ]]>
		</if>
		<if test="endTime != null and endTime != ''">
		    <![CDATA[
		      AND #{endTime} > U.CREATED_TIME
		    ]]>
		</if>
    </select>
   <insert id="add" parameterType="User">
        <![CDATA[
            INSERT INTO user  
            (
                USER_NAME,
                PASSWORD,
                GENDER,
                EMAIL,
                PHONE,
                CREATED_TIME,
                UPDATED_TIME
            )
            VALUES
            (
                #{userName},
                #{password},
                #{gender},
                #{email},
                #{phone},
                #{createdTime},
                #{updatedTime}
            )
        ]]>
    </insert>

   <select id="findById" parameterType="java.lang.Integer" resultMap="userMap">
       <include refid="selectUser" />
       <![CDATA[
            FROM USER U WHERE U.ID = #{id}
       ]]>
   </select>
   <update id="update" parameterType="User">
        <![CDATA[
            UPDATE USER U 
            SET 
                u.user_name = #{userName},
                u.password = #{password},
                u.gender = #{gender},
                u.email = #{email},
                u.phone = #{phone}
            WHERE u.id = #{id}
        ]]>
    </update>
    
    <update id="delete" parameterType="java.lang.Integer">
        <![CDATA[
            UPDATE user u SET u.is_deleted = 1 WHERE u.id = #{id}
        ]]>
    </update>
    
    <update id="deleteUserByIds" parameterType="java.util.List">
         <![CDATA[
	       UPDATE USER U SET U.IS_DELETED = 1 WHERE U.ID IN
	    ]]>
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
		  #{item}  
		</foreach>  
	</update>
</mapper>
